<div class="hero-slideshow" role="img" aria-label="Delta Drugs patient care gallery">
  <img src="https://i.imgur.com/RzH8vfA.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-top" width="580" height="320">
  <img src="https://i.imgur.com/EHuVNV5.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-top" width="580" height="320" loading="lazy">
  <img src="https://i.imgur.com/AVhSUBu.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-center" width="580" height="320" loading="lazy">
  <img src="https://i.imgur.com/zz3mW05.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-center" width="580" height="320" loading="lazy">
  <img src="https://i.imgur.com/0Cz6iZg.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-top" width="580" height="320" loading="lazy">
  <img src="https://i.imgur.com/MrDJBV7.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-top" width="580" height="320" loading="lazy">
  <img src="https://i.imgur.com/u0cfDiu.jpeg" alt="" class="hero-slideshow__img hero-slideshow__img--pos-top" width="580" height="320" loading="lazy">
</div>
